$red-600: #dc2626;
$gray-300: #d1d5db;
$yellow-300: #fde047;
$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$black: #000;

$error-color: $red-600;


$transition-duration: 0.2s;
$transition-function: ease;